@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
	font-family:'Pokemo';
	src: url(../css/Pokemon\ Hollow.ttf);
}
@font-face {
	font-family:'Pokemon';
	src: url(../css/Pokemon\ Solid.ttf);
}

.pai-pokemon{
    height:100vh;
    background-color:#1f1b1a;
    background-size:100%;
}

.fundo-green{
    display:flex;
    width:100%;
    height:240px;
    background-color:#28ba62;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-red{
	display:flex;
    width:100%;
    height:240px;
    background-color:#e9432d;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-blue{
	display:flex;
    width:100%;
    height:240px;
    background-color:#28a9ba;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-yellow{
	display:flex;
    width:100%;
    height:240px;
    background-color:#f5e237;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-pink{
	display:flex;
    width:100%;
    height:240px;
    background-color:#ec75a3;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-orange{
	display:flex;
    width:100%;
    height:240px;
    background-color:#ee6b1f;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-purple{
	display:flex;
    width:100%;
    height:240px;
    background-color:#d03fec;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-brown{
	display:flex;
    width:100%;
    height:240px;
    background-color:#964c21;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-gray{
	display:flex;
    width:100%;
    height:240px;
    background-color:#a1a1a1;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-white{
	display:flex;
    width:100%;
    height:240px;
    background-color:#e7e7e7;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-black{
	display:flex;
    width:100%;
    height:240px;
    background-color:#3d3d3d;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    justify-content:center;
    align-items:center;
}

.fundo-2{
    width:100%;
    height:10px;
	gap:1rem;
}

.nome-pokemon{
	text-transform:capitalize;
	text-align:center;
}

h2{
	font-family:'Lobster','Arial';
	font-size:30px;
	color:#e6e6e6;
}

.espacamento{
	flex-wrap:wrap;
	margin-top:50px;
	text-transform:capitalize;
	gap:1rem;
}

.h{
	font-family:'Pokemo','Arial';
	font-size:20px;
	color:aliceblue;
}

#img-pokemon{
    display:flex;
    width:200px;
    height:200px;
    bottom:0;
}


:root {
	--ion-color-primary: #fb4e50;
	--ion-color-primary-rgb: 251,78,80;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #dd4546;
	--ion-color-primary-tint: #fb6062;

	--ion-color-secondary: #e12c3c;
	--ion-color-secondary-rgb: 225,44,60;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #c62735;
	--ion-color-secondary-tint: #e44150;

	--ion-color-tertiary: #ae0b1c;
	--ion-color-tertiary-rgb: 174,11,28;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #990a19;
	--ion-color-tertiary-tint: #b62333;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #231f1e;
	--ion-color-danger-rgb: 35,31,30;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #1f1b1a;
	--ion-color-danger-tint: #393535;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}